<?xml version="1.0" encoding="UTF-8"?>  
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

	<appender name="terminal" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<appender name="activexAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="../logs/apig.log" />
		<param name="ImmediateFlush" value="true" />
		<param name="Threshold" value="info"></param>
		<param name="Append" value="true"></param>
		<param name="MaxFileSize" value="50MB"></param>
		<param name="MaxBackupIndex" value="1000"></param>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] {%c:%L}-%m%n"></param>
		</layout>
	</appender>

	<logger name="com.ibatis" level="DEBUG" />
	<logger name="java.sql" level="DEBUG" />
	<logger name="com.analysys.arkbase" level="DEBUG" />
	<root>
		<level value="debug" />
		<appender-ref ref="terminal" />
		<appender-ref ref="activexAppender" />
	</root>
</log4j:configuration>